@import url(//db.onlinewebfonts.com/c/21400dc679986534519c638136d62dbf?family=Rage+Italic);

:root {
  --menu-width: 30em; /* Width of menu */
  --items: 3; /* Number of items you have */
  --item-width: calc(var(--menu-width) / var(--items));
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 100;
  transition: 0.5s;
  /* background: red; */
}

header.sticky {
  z-index: 100;
  height: 80px;
  background: #fff;
  box-shadow: 0 5px 20px rgba(253, 176, 176, 0.1);
}

header.sticky nav {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

header.sticky .menu-logo {
  top: 50%;
  transform: translateY(-50%);
}

header.sticky .section {
  top: 50%;
  transform: translateY(-50%);
}

.login-section {
  position: absolute;

  right: 10em;
  top: 35px;
}

.cart-section {
  position: absolute;
  right: 13em;
  top: 35px;
}

.search-section {
  position: absolute;

  right: 16.5em;
  top: 35px;
}

nav {
  width: var(--menu-width);
  display: flex;
  position: absolute;
  z-index: 1;
  /* margin: 0 auto; */
  flex-wrap: nowrap;
  left: 23.5em;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.5s;
  /* background: #000; */
}

.menu-logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10em;
}

.menu-logo .logo {
  color: #d4a0a2;
  font-size: 3em;
  font-family: "Rage Italic";
  font-style: italic;
  font-weight: normal;
  text-shadow: none;
}
/* section.active nav {
  opacity: 0;
  visibility: hidden;
  transform: translateX(200px);
} */

nav .menu-item {
  color: white;
  font-weight: 600;
  flex-grow: 1;
  display: flex;
  flex-basis: var(--item-width);
  box-sizing: border-box;
  padding: 1em 1.5em;
  justify-content: center;
  letter-spacing: 0.5px;
  /* background: red; */
}

nav .menu-text,
nav .menu-text .menu-link {
  position: relative;
  font-size: 1em;
  color: #111;
  text-decoration: none;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  transition: color 0.1s ease-out;
  text-align: center;
  font-family: "Ariata Display";
}

.menu-logo .logo:hover {
  text-decoration: none;
}

.menu-login {
  position: relative;
  top: -1em;
  right: 0;
}

.menu-login .fa {
  font-size: 1.9em;
  color: #111;
}

nav .menu-text .menu-link::before {
  background: none repeat scroll 0 0 transparent;
  bottom: -5px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

nav .menu-text .menu-link:hover::before {
  width: 100%;
  left: 0;
}

nav .menu-text .menu-link:hover {
  color: #999;
}
