@import url(//db.onlinewebfonts.com/c/21400dc679986534519c638136d62dbf?family=Rage+Italic);

:root {
  --menu-width: 30em; /* Width of menu */
  --items: 3; /* Number of items you have */
  --item-width: calc(var(--menu-width) / var(--items));
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 100;
  transition: 0.5s;
  /* background: red; */
}

nav {
  width: var(--menu-width);
  display: flex;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  flex-wrap: nowrap;
  /* left: 23.5em; */
  top: 50%;
  transform: translateY(-50%);
  transition: 0.5s;
  /* background: #000; */
}

.menu-logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10em;
}

.menu-logo .logo {
  color: #d4a0a2;
  font-size: 3em;
  font-family: "Rage Italic";
  font-style: italic;
  font-weight: 400;
  text-shadow: none;
}
/* section.active nav {
  opacity: 0;
  visibility: hidden;
  transform: translateX(200px);
} */

nav .menu-item {
  color: white;
  font-weight: 600;
  flex-grow: 1;
  display: flex;
  flex-basis: var(--item-width);
  box-sizing: border-box;
  padding: 1em 1.5em;
  justify-content: center;
  letter-spacing: 0.5px;
  /* background: red; */
}

nav .menu-text,
nav .menu-text .menu-link {
  position: relative;
  font-size: 1em;
  color: #777777;
  text-decoration: none;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  transition: color 0.1s ease-out;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.menu-logo .logo:hover {
  text-decoration: none;
}

.menu-login {
  position: relative;
  top: -1em;
  right: 0;
}

.menu-login .fa {
  font-size: 1.9em;
  color: #111;
}

nav .menu-text .menu-link::before {
  background: none repeat scroll 0 0 transparent;
  bottom: -5px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

nav .menu-text .menu-link:hover::before {
  width: 100%;
  left: 0;
}

nav .menu-text .menu-link:hover {
  color: #999;
}

/*  */

.toggle {
  position: absolute;
  top: 50%;
  right: 10em;
  transform: translateY(-50%);

  width: 100px;
  height: auto;

  /* background: #000; */

  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.search_toggle,
.cart_toggle,
.login_toggle {
  z-index: 100;
  font-family: "Montserrat", sans-serif;
}

.search_toggle i,
.cart_toggle i,
.login_toggle i {
  font-size: 22px;
  color: #999;
  opacity: 0.5;
  cursor: pointer;
}

.login_toggle .user_avt{
  width: 22px;
  height: 22px;
  border-radius: 50%;
}


