footer {
  position: relative;
  width: 100%;
  padding: 20px 50px;
  height: auto;
  background: #111;
  margin: 0 0;
}

footer .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
  /* z-index: 9999; */
}

footer .container .sec {
  margin-right: 30px;
  /* background: red; */
}

footer .container .sec.aboutus {
  width: 40%;
  margin-right: 5em;
}

footer .container h2 {
  position: relative;
  color: #fff;
  font-weight: 600;
  font-size: 1.5em;
  margin-bottom: 15px;
}

footer .container h2::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100px;
  height: 2px;
  background: #f00;
}

footer p {
  color: #999;
}

.sci {
  margin-top: 20px;
  display: flex;
}

.sci li {
  list-style: none;
}

.sec .sci li a {
  /* display: inline-block; */
  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 10px;
  width: 40px;
  height: 40px;

  background: #222;
  text-decoration: none;
  border-radius: 4px;
}

.sec .sci li a:hover {
  /* background: rgb(25, 41, 64); */
  background: rgb(255, 208, 203);
  cursor: pointer;
  transition: all 0.35s ease-in-out;
}

.sec .sci li a .fa {
  color: #fff;
  font-size: 20px;
}

.sec .sci li a:hover .fb {
  color: #4267b2;
  cursor: pointer;
}

.sec .sci li a:hover .ig {
  color: rgb(233, 89, 80);
}

.sec .sci li a:hover .twitter {
  color: #1da1f2;
}

.sec .sci li a:hover .ytb {
  color: #e50914;
}

.quicklinks {
  position: relative;
  width: 25%;
  /* background: red; */
}

.quicklinks ul li {
  list-style: none;
}

.quicklinks ul li a {
  color: #999;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
  transition: color 0.1s ease-out;
}

.quicklinks ul li a:hover {
  color: rgb(255, 208, 203);
  cursor: pointer;
}

.contact {
  width: calc(35% - 60px);
  margin-right: 0 !important;
}

.sec .info {
  /* margin-top: 1em; */
  position: relative;
}

.sec .info li {
  display: flex;
  margin-bottom: 12px;
}

.sec .info li span:nth-child(1) {
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
}

.sec .info li span {
  color: #999;
}

.sec .info li a {
  color: #999;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1em;
  transition: color 0.1s ease-out;
}

.sec .info li a:hover {
  color: rgb(255, 208, 203);
  cursor: pointer;
}
