@import url(//db.onlinewebfonts.com/c/21400dc679986534519c638136d62dbf?family=Rage+Italic);

footer {
  position: relative;
  width: 100%;
  height: 610px;
  background: rgb(246, 233, 230);
  margin-top: 5em;
}

.footer {
  position: relative;
  top: 150px;
  margin: 0 auto;
  width: 1700px;
  /* height: 500px; */
  /* background: #000; */
}

.footer_logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer_logo img {
  width: 200px;
  height: 200px;
}

.footer_content-head {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top: 2px solid rgb(227, 205, 206);
  border-bottom: 2px solid rgb(227, 205, 206);
}

.footer_content-head .head-title {
  width: 300px;
  font-size: 14px;
  letter-spacing: 1px;
  /* font-weight: 500; */
  text-align: center;
  margin: 1em 0;
  color: #000;
  font-family: "Ariata Display";
  text-decoration: none;
  cursor: pointer;
}

.footer_content-head .head-title:first-child {
  border-right: 2px solid #ccc;
}
.footer_content-head .head-title:nth-child(2) {
  border-right: 2px solid #ccc;
}
.footer_content-head .head-title:nth-child(3) {
  border-right: 2px solid #ccc;
}
.footer_content-head .head-title:nth-child(4) {
  border-right: 2px solid #ccc;
}

.footer_content-contact {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid rgb(227, 205, 206);
}

.footer_content-contact .info {
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 3em 0;
  font-family: "Ariata Display";

  /* background: red; */
}
.footer_content-contact .info h2 {
  font-size: 18px;
}

.footer_content-contact .info:first-child {
  border-right: 2px solid rgb(227, 205, 206);
}

.footer_content-contact .info:nth-child(2) {
  border-right: 2px solid rgb(227, 205, 206);
}

.footer_content-connect {
  position: relative;
  margin-top: 2.5em;
  width: 100%;
  height: 100px;
  /* background: #000; */
  display: flex;
}

.footer_content-connect .content_connect {
  width: 50%;
  border-right: 2px solid rgb(227, 205, 206);
  display: flex;
  justify-content: flex-end;
}
.footer_content-connect .content_connect h2 {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-family: "Rage Italic";
  font-size: 40px;
}

.footer_content-connect .content_connect .connect_icon {
  width: 250px;
}

.footer_content-connect .content_connect .connect_icon .fa {
  position: relative;
  margin: 0 0 0 0.8em;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  color: #777777;
}

.footer_content-connect .content_feedback {
  position: relative;
  bottom: 0.5em;
  margin-left: 3.5em;
}
.footer_content-connect .content_feedback h2 {
  font-size: 14px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.footer_content-connect .content_feedback label {
  position: relative;
}

.footer_content-connect .content_feedback input {
  padding: 0 1em;
  width: 360px;
  height: 50px;
  border: 3px solid rgb(227, 205, 206);
  outline: none;
}

.footer_content-connect .content_feedback .fa {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 35px;
  color: #ccc;
}
