.banner {
  position: relative;
  margin: 6em 0 4em 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.banner_container {
  position: relative;
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner_contain-circle {
  position: relative;
  width: 600px;
  height: 600px;
}

.banner_circle-middle {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fdf2f6;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid #c89b7e;
}

.banner_circle-middle button {
  border: none;
  padding: 0.7em;
  border-radius: 50%;
  background: none;
}

.banner_circle-middle .small_circle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 1.5em;
  color: #fff;
  background: #c89b7e;
  border-radius: 50%;
}

.banner_circle-middle .circle_star {
  left: -1.4em;
}

.banner_circle-middle .circle_plus {
  right: 3em;
  bottom: 2.5em;
}

.banner_circle-item {
  position: relative;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: #fdf2f6;
}

.banner_circle-item img {
  position: absolute;
  object-fit: cover;
  width: 500px;
  height: 500px;
  border-radius: 50%;
}

.left {
  position: absolute;
  width: 80px;
  height: 100px;
}

.line {
  top: 13em;
  left: -1em;
  transform: rotate(-7deg);
}

.linee {
  top: 22.2em;
  left: -1.1em;

  transform: rotate(-32deg);
}

.linee-bottom {
  right: 1.5em;
  bottom: 6.7em;
  transform: rotate(193deg);
}

.line-bottom {
  bottom: 0;
  right: 9em;
  transform: rotate(-138deg);
}

.banner_thumb {
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 10em;
}

.thumb {
  display: inline-block;
  padding: 1em 0;
  list-style: none;
  font-family: "Ariata Display";
}

.thumb li {
  /* margin: 0 0 1em 0.5em; */
  padding: 1em 0;
  font-size: 1.3em;
  /* background: #000; */
}
.thumb li::before {
  content: "";
  position: absolute;
  left: 0;
  background-color: #253b80;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-right: 1.5em;
  margin-bottom: 3em;
}

.banner_warning {
  position: absolute;
  left: 10em;
  margin-top: 35em;
  width: 290px;
  height: 170px;
  /* background: #fff; */
  display: flex;
  flex-wrap: wrap;
}

.banner_warning .warning_time {
  font-family: "Ariata Display";
  font-weight: 500;
  font-size: 64px;
}

.banner_warning .warning_hrs {
  font-family: "Ariata Display";
  margin: 2.9em 0 0 0.5em;

  font-weight: 500;
  font-size: 18px;
  line-height: 30px;

  color: rgba(0, 0, 0, 0.4);
}
.banner_warning .warning_text {
  font-family: "Krona One", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
}
.banner_contain-content {
  position: absolute;

  left: 85em;
  top: 3em;
  width: 450px;
  height: 290px;
  /* background: red; */
  color: #000;
}

.content_text {
  position: relative;
  width: 100%;
  height: 260px;
  background: linear-gradient(
    111.68deg,
    rgba(255, 255, 255, 0.29) 7.59%,
    rgba(255, 255, 255, 0.39) 102.04%
  );
  border: 3px solid rgba(255, 255, 255, 0.28);
  border-radius: 61px;
  box-sizing: border-box;
  backdrop-filter: blur(22px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content_text p {
  padding: 0 1.5em;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  font-family: "Ariata Display";
}

.content_text hr {
  width: 60px;
  height: 1px;
  position: absolute;
  left: 1.5em;
  bottom: 1.2em;
  background: black;
}

.content_text a {
  position: absolute;
  top: 200px;
  left: 104px;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  font-family: "Ariata Display";
  text-decoration: none;
  cursor: pointer;
}

.content_text a::before {
  background: none repeat scroll 0 0 transparent;
  bottom: -5px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.content_text a:hover::before {
  width: 100%;
  left: 0;
}

.content_text img {
  position: absolute;
  top: 170px;
  left: 220px;
  width: 200px;
  height: 80px;
}

.drop-shadow {
  position: absolute;
  margin-top: 3em;
  width: 433.07px;
  height: 20.62px;

  background: rgba(255, 255, 255, 0.1);
  /* background: violet; */
  background-blend-mode: overlay;
  filter: blur(40px);
}

.banner_note {
  position: absolute;
  left: 10em;
  margin-bottom: 30em;
  width: 300px;
  height: 100px;
  /* background: #fff; */
}

.banner_note .note {
  font-family: "Ariata Display";
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
}
