.login_container {
  position: fixed;
  top: 0;
  right: 0;

  width: 500px;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #fff;
  z-index: 100;

  opacity: 0;
  visibility: hidden;
  overflow: hidden;

  transform: translateX(200%);
  transition: all 0.5s ease-in-out 0s;
}

.open-Login {
  position: fixed;
  top: 0;
  right: 0;

  width: 500px;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #fff;
  z-index: 101;

  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  transition: 0.5s all ease-out;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(1, 1, 1, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: 0.5s all ease-in 0s;
  z-index: -10;
}

.open-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(1, 1, 1, 0.5);
  opacity: 1;
  visibility: visible;
  z-index: 10;
  transition: 0.5s all ease-out;
}

.login_toggle {
  z-index: 100;
  font-family: "Montserrat", sans-serif;
}

.login_toggle i {
  font-size: 22px;
  color: #999;
  opacity: 0.5;
  cursor: pointer;
}

.login_section {
  width: 100%;

  height: 600px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.login_contain {
  width: 400px;
  height: 500px;
  position: relative;
}

.login_form {
  position: relative;
  width: 100%;
  height: 410px;
}

.login-text {
  position: absolute;
  top: 0;
  width: 100%;
}

.login-text h2 {
  text-align: left;
  padding: 0 1em;
  color: #d4a0a2;
  font-size: 1.5em;
  letter-spacing: -0.15px;
  line-height: 37px;
  font-weight: 700;
  font-family: "Krona One", sans-serif;
}

.input_contain {
  position: absolute;
  top: 1em;
  margin-top: 5em;
  width: 100%;
  height: 200px;
}

.input_contain .input_item {
  position: relative;
  width: 352px;
  height: 70px;
  margin: 0.8em 1.65em;
  outline: none;
  border: none;
  border-radius: 8px;
  padding-left: 25px;
  font-weight: 400;
  background: rgb(245, 245, 245);
}

/* ô input 1 */
.input_contain .input_label:nth-child(2) {
  position: absolute;
  top: 2.5em;
  transform: translateY(-30%);
  left: 50px;
}

.input_contain .input_item:not(:placeholder-shown) + .input_label,
.input_contain .input_item:focus + .input_label:nth-child(2) {
  top: 1em;
  left: 3em;
  padding: 10px;
  display: inline-block;
  font-size: 1em;
}

/* ô input 2  */
.input_contain .input_label:nth-child(4) {
  position: absolute;
  top: 8em;
  transform: translateY(-30%);
  left: 50px;
}

.input_contain .input_item:not(:placeholder-shown) + .input_label,
.input_contain .input_item:focus + .input_label:nth-child(4) {
  top: 7.5em;
  left: 3em;
  padding: 10px;
  display: inline-block;
  font-size: 1em;
}

/* ô input 3 */
.input_contain .input_label:nth-child(6) {
  position: absolute;
  top: 13.5em;
  transform: translateY(-30%);
  left: 50px;
}

.input_contain .input_item:not(:placeholder-shown) + .input_label,
.input_contain .input_item:focus + .input_label:nth-child(6) {
  top: 14em;
  left: 3em;
  padding: 10px;
  display: inline-block;
  font-size: 1em;
}

/* ô input 4  */
.input_contain .input_label {
  position: absolute;
  top: 27.5em;
  transform: translateY(-50%);
  left: 50px;
  user-select: none;
  pointer-events: none;
  opacity: 0.5;
  font-size: 1.2em;
  transition: all 0.2s ease-in-out 0s;
  font-family: "Montserrat", sans-serif;
}

.input_contain .input_item:not(:placeholder-shown) + .input_label,
.input_contain .input_item:focus + .input_label {
  top: 31.2em;
  left: 3em;
  padding: 10px;
  display: inline-block;
  font-size: 1em;
}

/* ô input 5 */
.input_contain .input_label:nth-child(9) {
  position: absolute;
  top: 22em;
  transform: translateY(-50%);
  left: 50px;
  z-index: 1;
}

.input_contain .input_item:not(:placeholder-shown) + .input_label,
.input_contain .input_item:focus + .input_label:nth-child(9) {
  top: 24.5em;
  left: 3em;
  padding: 10px;
  display: inline-block;
  font-size: 1em;
}

/* remember pass */
.remember {
  position: absolute;
  left: -10px;
  margin: 20em 0 0 0;
  width: 100%;
  padding: 0 2.5em;
}

.remember label {
  margin-left: 2em;
  cursor: pointer;
  color: #999;
  font-size: 1.3em;
  font-family: "Montserrat", sans-serif;
}
.remember input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.remember .checkmark {
  position: absolute;
  top: 0;
  left: 2em;
  height: 25px;
  width: 25px;
  background-color: #eee;
  cursor: pointer;
}

.remember .checkmark::after {
  content: "\f00c";
  position: absolute;
  font-family: fontAwesome;
  font-size: 1em;
  top: 0px;
  left: 3.5px;
  color: #d4a0a2;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out 0s;
}

.remember input:checked ~ .checkmark::after {
  opacity: 1;
  visibility: visible;
}

.submit {
  width: 100%;
  height: 60px;
  position: absolute;
  /* background-color: #111; */
}

.submit button {
  width: 180px;
  height: 60px;
  border-radius: 30px;
  border: 3.5px solid #d4a0a2;
  font-size: 1.2em;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  padding: 15px 20px;
  text-align: center;
  margin-left: 1em;
}

.submit .register {
  color: #d4a0a2;
  background: #fff;
  box-shadow: 20px 20px 44px #c4c4c4, -20px -20px 44px #ffffff;
}

.submit .register:active {
  color: #006c9c;
  background: #e6e6e6;
  box-shadow: inset 22px 22px 44px #d7ced1, inset -22px -22px 44px #ffffff;
}

.submit .login {
  color: #fff;
  background-color: #d4a0a2;
  box-shadow: 20px 20px 40px #c4c4c4, -20px -20px 40px #ffffff;
}

.submit .login:active {
  color: #006c9c;
  background-color: #d4a0a2;
  box-shadow: inset 22px 22px 44px #c4c4c4, inset -22px -22px 44px #ffffff;
}

.forgot {
  position: absolute;
  bottom: 4em;
  width: 100%;
}

.forgot span {
  padding: 1.3em;
  color: #999;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

/* .register_section {
  display: block;
  width: 400px;
  height: 900px;
  position: relative;
} */
